/* -------------------------------- */
/* GLOBAL */
/* -------------------------------- */

.block-container
{
    padding-top: 1.2rem;
    padding-bottom: 1rem;
    max-width: 1250px;
}


/* -------------------------------- */
/* SIDEBAR */
/* -------------------------------- */

section[data-testid="stSidebar"]
{
    width: 230px !important;
}

section[data-testid="stSidebar"] .stButton
{
    margin-bottom: 4px;
}


/* -------------------------------- */
/* LEARN SUBJECTS */
/* -------------------------------- */

section[data-testid="stSidebar"] .stButton button
{
    border-radius: 8px;
}


/* -------------------------------- */
/* HOME */
/* -------------------------------- */

div[data-testid="stVerticalBlock"]
{
    gap: 0.6rem;
}


/* -------------------------------- */
/* METRICS */
/* -------------------------------- */

div[data-testid="metric-container"]
{
    padding: 10px;
    border-radius: 10px;
}


/* -------------------------------- */
/* CHAT */
/* -------------------------------- */

div[data-testid="stChatMessage"]
{
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}


/* -------------------------------- */
/* INPUT */
/* -------------------------------- */

div[data-testid="stChatInput"]
{
    margin-top: 1rem;
}